<div class="main-container">
    <div class="post-container">
        <div class="post-wrapper text-center">
        <div class="post-top">
            <%= form_with(model: @post) do |form| %>
                <%= form.text_area :body,class:"create-post",placeholder:"What's up?",type:"submit"%>
                <button type="submit" class="rounded-circle post-button"><i class="uil uil-angle-left"></i></button>
            <% end %>
            <hr class="text-white"/>
            <h1 class="text-white display-6">Posts </h1>
        </div>
        <% @posts.each do |post|  %>
            <% if @friends.find_by(friend_id: post.user_id) || post.user_id == @current_user.id %>
                <div class="post-content">
                    <div class="post-top">
                        <% if post.user.avatar.attached? %>
                            <%= image_tag(post.user.avatar, :alt => "logo",height:128,width:128,class:"rounded-circle") %>
                        <% else %>
                            <%= image_tag("default.jpg", :alt => "logo",height:128,width:128,class:"rounded-circle") %>
                        <% end %>
                        <h1 style="color:#373f55"><%= post.user.firstname %> <%= post.user.surname %></h1>
                        </div>
                        <div class="post-bottom">
                        <p>
                            <%= render post %>
                        </p>
                    </div>
                    <div class="social mt-2">
                        <% if post.user_id  == @current_user.id%>
                            <%= button_to post, method: :delete  do%> <i class="fa fa-times" aria-hidden="true"></i> <% end %>
                            <%= link_to  edit_post_path(post) do %> <i class="fa fa-pencil"></i><% end %>
                        <% end %>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> </a>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="friends-container">
        <h1 class="text-white display-6 text-center">Friends</h1>
        <hr class="text-white mb-4"/>
    <% @users.each do |user| %> 
        <div class="friends-wrapper">
            <% if user.avatar.attached?%>
                <%= image_tag(user.avatar, :alt => "logo",height:64,width:64,class:"rounded-circle") %>
            <% else %>
                <%= image_tag("default.jpg", :alt => "logo",height:64,width:64,class:"rounded-circle") %>
            <% end %>
            <%= link_to profile_path(user.id),style:"text-decoration:none" do %><p class="friends-name mt-3"><%= user.firstname %> <%= user.surname %></p><% end %>
            <div>
                <% if @friends.find_by(friend_id: user.id) %>
                    <%= button_to unfollow_path(friend: { friend_id: user.id,user_id: @current_user.id }),method: :post,class:"unfollow-btn text-white" do %> Unfollow <i class="fa fa-check" style="color:#ca6d87"> </i><% end %>
                <% else %>
                    <%= button_to follow_path(friend: { friend_id: user.id,user_id: @current_user.id }),method: :post,class:"follow-btn text-white" do %> Follow <i class="fa fa-check"> </i><% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>